/* global */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/SpaceMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'Palanquin Dark';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/PalanquinDark-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-display: swap;
    src: url("/fonts/JosefinSans-VariableFont_wght.woff2") format("woff2");
}


@font-face {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-display: swap;
    src: url("/fonts/JosefinSans-Italic-VariableFont_wght.woff2") format("woff2");
}

@counter-style base-seven-enjoyer {
    symbols: 🁤 🁥 🁦 🁧 🁨 🁩 🁪 🁫 🁬 🁭 🁮 🁯 🁰 🁱 🁲 🁳 🁴 🁵 🁶 🁷 🁸 🁹 🁺 🁻 🁼 🁽 🁾 🁿 🂀 🂁 🂂 🂃 🂄 🂅 🂆 🂇 🂈 🂉 🂊 🂋 🂌 🂍 🂎 🂏 🂐 🂑 🂒 🂓;
    system: fixed;
    suffix: " ";
}

* {
    box-sizing: border-box;
}

:root {
    --main-bg-color: #6e6e6e;
    --main-border-color: #b1b1b1;
    --main-author-color: #afafaf;
    --secondary-author-color: #dfdfdf;
    --main-link-color: #b3b3b3;

    --target-bg-color: hsl(0, 85%, 9%);
    --target-border-color: hsl(0, 85%, 69%);
}

html {
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    scrollbar-color: white rgba(0, 0, 0, 0);

    line-height: 1.5;
    font-variant-ligatures: none;
}

html::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
}

html::-webkit-scrollbar-thumb {
    background-color: white;
}

html::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

h1,
h2 {
    text-align: center;
    font-family: 'Palanquin Dark', sans-serif;
    margin: 2%;
}

body {
    max-width: 980px;
    padding: 0 20px;
    margin: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: var(--main-link-color);
}

a:focus,
a:hover {
    color: white;
}

picture>img {
    width: 100%;
    height: 100%;
}

#home_banner {
    max-width: 100vw;
    max-height: 35vh;
    width: auto;
    height: auto;
}

#jam_banner {
    max-width: 100%;
    max-height: 10rem;
    width: auto;
    height: auto;
}

/* index */
.all_jams {
    list-style-type: base-seven-enjoyer;
    list-style-position: inside;
    font-family: 'Palanquin Dark', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding: 0;
    width: 100%;
}

.all_jams li {
    width: 100%;
}

.all_jams li>a {
    transition: filter 80ms ease-out;
}

.all_jams li>a:hover,
.all_jams li>a:focus {
    filter: contrast(0.95) brightness(1.05);
}

.all_jams li>a:active {
    filter: contrast(0.95);
}

.all_jams li::marker {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 1.5em;
}

.all_jams li picture {
    display: block;
    margin-top: 0.5rem;
    box-shadow: 8px 0 var(--main-bg-color);
    border: 2px solid var(--main-border-color);
    border-radius: 2rem;
    overflow: hidden;
}

.all_jams li picture>img {
    display: block;
    width: 100%;
    height: auto;
}

/* jams */
.jam-games-listing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding: 1rem;
    gap: 1.2rem;

    width: 100vw;
}

.game:target {
    --main-border-color: var(--target-border-color);
    background: var(--target-bg-color);
}

.game {
    border: 2px solid var(--main-border-color);
    border-radius: 2rem;
    box-shadow: 8px 8px var(--main-bg-color);

    width: 315px;
    min-height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: 1.15;
}

.game>a {
    display: contents;
}

.game a {
    color: inherit;
    text-decoration: none;
}


.game_link:hover,
.game_link:focus {
    text-shadow: 0 0 8px white;
}

.game>*,
.game>a>img {
    flex: none;
    max-width: 315px;
}

.game_img {
    height: 250px;
    width: 100%;
    box-sizing: content-box;
    transition: filter 80ms ease-out;
}

.game_img>img {
    object-fit: cover;
    object-position: center;
}

.game_img:hover {
    filter: contrast(0.95) brightness(1.05);
}

.game_img:active {
    filter: contrast(0.95);
}

.game_text {
    width: 100%;
    border-top: 2px solid var(--main-border-color);
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 0 1rem;
    word-break: break-word;
}

.game_text>p {
    margin: 0;
}

.game_link {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px var(--main-bg-color);
    font-family: 'Palanquin Dark', sans-serif;
    border-bottom: 1px dashed var(--main-border-color);
    padding-bottom: 0.5rem;
}

.game_credit {
    padding-top: .5rem;
    color: var(--main-author-color);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

.game_credit em {
    color: var(--secondary-author-color);
}

.game_credit>span {
    display: inline-block;
}

.section-nav {
    white-space: nowrap;
    padding: 0.5rem 0;
    text-align: center;
}

.section-nav>a,
.section-nav>span {
    display: inline-block;
    text-decoration: none;
    font-style: bold;
    color: white;
    font-size: 2rem;
    font-family: 'Palanquin Dark', sans-serif;
}

.section-nav>span {
    cursor: not-allowed;
}

.section-nav>a {
    transition: opacity 80ms ease-out;
}

.section-nav>a:hover,
.section-nav>a:focus {
    opacity: 0.8;
}

.section-nav>a[rel]:active {
    opacity: 0.7;
    animation: blame-nat 200ms linear infinite;
    animation-delay: 500ms;
}

.section-nav>a[rel="prev"]:active {
    animation-name: blame-nat2;
}

@keyframes blame-nat {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

@keyframes blame-nat2 {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(-360deg)
    }
}

@media (pointer: coarse) {

    .section-nav>a,
    .section-nav>span {
        padding: 0.5rem;
    }
}

/* awards */
.jam-awards-listing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding: 1rem;
    gap: 1.2rem;

    width: 100vw;
}

.jam-awards-listing {
    image-rendering: pixelated;
}

.award {
    width: 315px;
    min-height: calc(250px + var(--award-height, 300px));

    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: 1.15;
}

.award picture {
    width: 100%;
}

.award img {
    object-fit: contain;
    object-position: center bottom;
}

.award_name {
    text-transform: uppercase;
}

.award_body {
    width: 100%;
    border-top: 2px solid var(--main-border-color);
    border-radius: 2rem 2rem 0 0;
    background: black;

    flex: auto;
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;

    padding: 0 1rem;
    padding-top: 1rem;
    gap: .5rem;

    word-break: break-word;
}

.award_text {
    flex: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.award_text>p {
    margin: 0;
}

.award_game {
    line-height: 1.5;
}

.award_img {
    height: var(--award-height, 300px);
    box-sizing: content-box;
    object-fit: cover;
    object-position: center;
}

.award {
    background-image:
        linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.6) 3rem, rgba(0,0,0,0) var(--award-height, 300px)),
        radial-gradient(ellipse farthest-corner, hsl(0, 0%, 30%) 0%, hsla(0, 0%, 30%, 0) 100%);
}

/* breakpoints */
@media screen and (max-width: 600px) {
    .all_jams li picture {
        display: none;
    }
}