/* global */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/SpaceMono-Regular.ttf");
}

@font-face {
    font-family: 'Palanquin Dark';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/PalanquinDark-Regular.ttf");
}

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-display: swap;
    src: url("/fonts/JosefinSans-VariableFont_wght.ttf");
}


@font-face {
    font-family: 'Josefin Sans';
    font-style: italic;
    font-display: swap;
    src: url("/fonts/JosefinSans-Italic-VariableFont_wght.ttf");
}

@counter-style base-seven-enjoyer {
    symbols: 🁤 🁥 🁦 🁧 🁨 🁩 🁪 🁫 🁬 🁭 🁮 🁯 🁰 🁱 🁲 🁳 🁴 🁵 🁶 🁷 🁸 🁹 🁺 🁻 🁼 🁽 🁾 🁿 🂀 🂁 🂂 🂃 🂄 🂅 🂆 🂇 🂈 🂉 🂊 🂋 🂌 🂍 🂎 🂏 🂐 🂑 🂒 🂓;
    system: fixed;
    suffix: " ";
}

* {
    box-sizing: border-box;
}

:root {
    --main-bg-color: #6e6e6e;
    --main-border-color: #b1b1b1;
    --main-author-color: #afafaf;
    --secondary-author-color: #dfdfdf;
    --main-link-color: #b3b3b3;
}

html {
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    scrollbar-color: white rgba(0, 0, 0, 0);
}

html::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
}

html::-webkit-scrollbar-thumb {
    background-color: white;
}

html::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

h1,
h2 {
    text-align: center;
    font-family: 'Palanquin Dark', sans-serif;
    margin: 2%;
}

body {
    max-width: 980px;
    padding: 0 20px;
    margin: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: var(--main-link-color);
}

a:focus,
a:hover {
    color: white;
}

/* index */
#banner {
    max-width: 100vw;
}

.all_jams {
    list-style-type: base-seven-enjoyer;
    list-style-position: inside;
    font-family: 'Palanquin Dark', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding: 0;
}

.all_jams li>a {
    transition: filter 80ms ease-out;
}

.all_jams li>a:hover,
.all_jams li>a:focus {
    filter: contrast(0.95) brightness(1.05);
}

.all_jams li>a:active {
    filter: contrast(0.95);
}

.all_jams li::marker {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 1.5em;
}

.all_jams li img {
    margin-top: 0.5rem;
    display: block;
    box-shadow: 8px 0 var(--main-bg-color);
    border: 2px solid var(--main-border-color);
    border-radius: 2rem;
    width: 100%;
}

/* jams */
.jam-games-listing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding: 1rem;
    gap: 1.2rem;

    width: 100vw;
}

.game {
    border: 2px solid var(--main-border-color);
    border-radius: 2rem;
    box-shadow: 8px 8px var(--main-bg-color);

    min-height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game>a {
    display: contents;
}

.game a {
    color: inherit;
    text-decoration: none;
}


.game_link:hover,
.game_link:focus {
    text-shadow: 0 0 8px white;
}

.game>*,
.game>a>img {
    flex: none;
    max-width: 315px;
}

.game_img {
    height: 250px;
    box-sizing: content-box;
    object-fit: cover;
    object-position: center;
    transition: filter 80ms ease-out;
}

.game_img:hover {
    filter: contrast(0.95) brightness(1.05);
}

.game_img:active {
    filter: contrast(0.95);
}

.game_text {
    width: 100%;
    border-top: 2px solid var(--main-border-color);
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 0 1rem;
    word-break: break-word;
}

.game_text>p {
    margin: 0;
}

.game_link {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px var(--main-bg-color);
    font-family: 'Palanquin Dark', sans-serif;
    border-bottom: 1px dashed var(--main-border-color);
    padding-bottom: 0.5rem;
}

.game_credit {
    padding-top: .5rem;
    color: var(--main-author-color);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

.game_credit em {
    color: var(--secondary-author-color);
}

.game_credit>span {
    display: inline-block;
}

.jam-nav {
    white-space: nowrap;
    padding: 0.5rem 0;
    text-align: center;
}

.jam-nav>a,
.jam-nav>span {
    display: inline-block;
    text-decoration: none;
    font-style: bold;
    color: white;
    font-size: 2rem;
    font-family: 'Palanquin Dark', sans-serif;
}

.jam-nav>span {
    cursor: not-allowed;
}

.jam-nav>a {
    transition: opacity 80ms ease-out;
}

.jam-nav>a:hover,
.jam-nav>a:focus {
    opacity: 0.8;
}

.jam-nav>a[rel]:active {
    opacity: 0.7;
    animation: blame-nat 200ms linear infinite;
    animation-delay: 500ms;
}

.jam-nav>a[rel="prev"]:active {
    animation-name: blame-nat2;
}

@keyframes blame-nat {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

@keyframes blame-nat2 {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(-360deg)
    }
}

@media (pointer: coarse) {

    .jam-nav>a,
    .jam-nav>span {
        padding: 0.5rem;
    }
}