{{ define "main" }}
<style>
  :root {
    --light: #f2f2f2;
    --dark: black;
    --emph: #44f9f6;
  }
  
  label[for="message"] {
    display: flex;
    justify-content: space-between;
  }
  
  main, form {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1rem;
  }
  
  main {
    width: 100%;
    align-items: center;
  }
  
  form {
    width: 100%;
    max-width: 600px;
  }

  textarea {
    flex: 1;
    min-height: 5rem;
  }
  
  button, input, textarea {
    background: inherit;
    color: inherit;
    
    font-family: inherit;
    font-size: inherit;
    border: 1px dotted var(--light);
    box-sizing: border-box;
  }
  
  button {
    padding: 0.5rem 1rem;
    background: var(--light);
    color: var(--dark);
    border-radius: .5em;
    
    align-self: center;
    cursor: pointer;
  }

  button:disabled {
    background: transparent;
    border: dotted white 1px;
    color: white;
  }
  
  button:active:not(:disabled) {
    filter: invert();
  }
  
  /* Instructions */
  .instructions {
    margin: 1rem auto 0;
  }
  
  h2, label {
    margin: 0;
    color: var(--emph);
  }  

  form > p {
    text-align: center;
  }
</style>
<main>
  <h1 class="title">ANONYMOUS MESSAGING</h1>
  <form class="message-form" method="post" action="{{ .Params.endpoint }}" target="_blank">
    <label for="token">PASSWORD</label>
    <input type="password" name="token">
    <label for="message">
      MESSAGE
      <select id="template-select">
        <option>MESSAGE TEMPLATE</option>
        {{ range .Params.templates }}
          <option value="{{ .text }}">{{ .name }}</option>
        {{ end }}
      </select>
    </label>
    <textarea id="message" name="message" required="required"></textarea>
    <button type="submit">POST TO DISCORD</button>
  </form>

  <section class="instructions">
    {{ .Content }}
  </section>
  
</main>
<script>
  const templateSelect = document.getElementById("template-select");
  const messageInput = document.getElementById("message");
  templateSelect.addEventListener("input", () => messageInput.value = templateSelect.value);

  const form = document.querySelector("form");
  const submit = document.querySelector(`button[type="submit"]`);
  form.addEventListener("submit", async (event) => {
    event.preventDefault();

    messageInput.disabled = true;
    submit.disabled = true;

    const response = await fetch(form.action, {
      method: 'post',
      body: new URLSearchParams(new FormData(form)),
    });

    const message = document.createElement("p");
    message.textContent = response.ok ? "SUCCESS" : "FAILURE";
    submit.insertAdjacentElement("afterend", message);

    if (!response.ok) console.log((await response.json()).error.message);
  });
</script>
{{ end }}