{{ define "main" }}
  {{ partial "jam-nav.html" .Page }}

  {{/* jam page name is used to find images */}}
  {{ $jam := .File.TranslationBaseName }}
  <h1>{{ .Params.name }}</h1>
  {{ with .Content }}
    {{ . }}
  {{ end }}
  <section class="jam-games-listing" data-jam="{{ $jam }}">
    {{/* for every game in this jam, */}}
    {{ range .Params.games }}
      {{/* determine thumbnail path from jam page name and itch page name */}}
      {{ $img := print "/img/" $jam "/" .itch ".png" }}
      {{ $url := print "https://dominoclub.itch.io/" .itch }}
      {{ $game := merge . (dict "img" $img "url" $url) }}

      {{/* pass relevant data to per-game template */}}
      {{/* maybe it would be clearer inline instead, make your choice */}}
      {{- partial "game-entry.html" $game -}}
    {{ end }}
  </section>
  <script src="/js/shuffle.js"></script>

  {{ partial "jam-nav.html" .Page }}
{{ end }}
