<article class="game" id="{{ .itch }}">
  <a href="{{ .url }}" target="_blank" rel="noopener" aria-hidden="true" tabindex="-1">
    {{ $image := resources.Get .img }}
    <img loading="lazy" class="game_img" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="">
  </a>
  <div class="game_text">
    <a href="{{ .url }}" target="_blank" rel="noopener" class="game_link">{{ .title }}</a>
    {{/* if there are credits, */}}
    {{ with .credit }}
      <p class="game_credit">
        <span>
          by&nbsp;
          {{- if reflect.IsSlice . -}}
            {{- $num := len . -}}
            {{- range $index, $author := . -}}
              {{- if eq $index (add $num -1) }}
                </span> <span>and 
              {{ else if $index -}}
                ,</span><span>
              {{ end -}}
              <em>{{ replace . "_" "\u200B_" }}</em>
              </span>
            {{- end -}}
          {{- else -}}
            <em>{{ replace . "_" "\u200B_" }}</em>
          {{- end -}}
        </span>
      </p>
    {{ end }}
  </div>
</article>
