<article class="game" id="{{ .itch }}">
  <a href="{{ .url }}" target="_blank" rel="noopener" aria-hidden="true" tabindex="-1">
    {{ $image := resources.Get .img }}
    {{ $imageWebp := $image.Fit "315x250 webp drawing" }}
    <picture class="game_img" style="background-color: {{ index $imageWebp.Colors 0 }};">
      <source srcset="{{ $imageWebp.RelPermalink }}" type="image/webp" />
      <source srcset="{{ $image.RelPermalink }}" type="image/png" />
      <img loading="lazy" src="{{ $image.RelPermalink }}" width="{{ $imageWebp.Width }}" height="{{ $imageWebp.Height }}" alt="">
    </picture>
  </a>
  <div class="game_text">
    <a href="{{ .url }}" target="_blank" rel="noopener" class="game_link">{{ .title }}</a>
    {{/* if there are credits, */}}
    {{ with .credit }}
      <p class="credit">
        <span>
          by&nbsp;
          {{- if reflect.IsSlice . -}}
            {{- $num := len . -}}
            {{- range $index, $author := . -}}
              {{- if eq $index (add $num -1) }}
                </span> <span>and 
              {{ else if $index -}}
                ,</span> <span>
              {{ end -}}
              <em>{{ replace . "_" "\u200B_" }}</em>
              </span>
            {{- end -}}
          {{- else -}}
            <em>{{ replace . "_" "\u200B_" }}</em>
          {{- end -}}
        </span>
      </p>
    {{ end }}
  </div>
</article>
