{{ define "main" }}
  {{ $image := resources.Get "img/banner.png" }}
  <img id="banner" loading="eager" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="DOMINO club">
  {{ .Content }}
  <ol class="all_jams" reversed>
  {{/* for every jam page, */}}
  {{ range where .Site.RegularPages.ByDate.Reverse "Type" "jams" }}
    <li><h2>{{ .Params.title }}</h2>
    <a href="{{ .Permalink }}"><img loading="lazy" src="{{ index .Params.images 0 }}" alt="collage of game screenshots: {{ .Params.description }}. CLICK TO PLAY GAMES"></a>
    </li>
  {{ end }}
  </ol>
{{ end }}