<style>
  .anonymous-messaging {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1rem;

    width: 100%;
    max-width: 600px;
    margin-bottom: 2rem;
  }

  .anonymous-messaging label {
    display: flex;
    justify-content: space-between;
  }

  .anonymous-messaging p {
    text-align: center;
    margin: 0;
  }

  .anonymous-messaging textarea {
    flex: 1;
    min-height: 5rem;
  }
  
  button, input, textarea {
    background: inherit;
    color: inherit;
    
    border: 1px dotted white;
  }
  
  button {
    padding: 0.5rem 1rem;
    background: white;
    color: black;
    border-radius: .5em;
    
    align-self: center;
    cursor: pointer;
  }

  button:disabled {
    background: transparent;
    color: white;
    cursor: not-allowed;
  }
  
  button:active:not(:disabled) {
    filter: invert();
  }
</style>
<form class="anonymous-messaging" method="post" action="{{ $.Site.Data.anonymous_messaging.endpoint }}" target="_blank">
  <label for="token">PASSWORD</label>
  <input type="password" name="token" required="required">
  <label for="message">
    MESSAGE
    <select id="template-select">
      <option>MESSAGE TEMPLATE</option>
      {{ range $.Site.Data.anonymous_messaging.templates }}
        <option value="{{ .text }}">{{ .name }}</option>
      {{ end }}
    </select>
  </label>
  <textarea id="message" name="message" required="required"></textarea>
  <button type="submit">POST TO DISCORD</button>
</form>
<script>
  const form = document.querySelector(".anonymous-messaging");
  const template = form.querySelector("#template-select");
  const message = form.querySelector("#message");
  const submit = form.querySelector(`button[type="submit"]`);

  template.addEventListener("input", () => message.value = template.value);

  form.addEventListener("submit", async (event) => {
    event.preventDefault();

    message.disabled = true;
    submit.disabled = true;

    const response = await fetch(form.action, {
      method: 'post',
      body: new URLSearchParams(new FormData(form)),
    });

    const outcome = document.createElement("p");
    outcome.textContent = response.ok ? "SUCCESS" : "FAILURE";
    submit.insertAdjacentElement("afterend", outcome);

    if (!response.ok) console.log((await response.json()).error.message);
  });
</script>
